<h1>DaVinci Store</h1>

<table>
  <thead>
  <tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
    <!-- If you pass an array in here, it will render the partial for each value in the array!! -->
    <%= render @products %>
  </tbody>
</table>

<br>
